.container {
  max-width: 1000px;
  margin: 0 auto;
}
#header{
  background-color: #131921;
  width: 100%;
  position: fixed;
  justify-content: space-around;
  display: flex;
  top: 0;
  left: 0;
  z-index: 1000;
}
nav {
  display: flex;
  justify-content: space-between;
  justify-items: center;

}
logo {
  padding: 5px 0;
}
#logo img {
  max-width: 50px;
  height: auto;
}
#main-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
#main-menu li {
  position: relative;
}
#main-menu li a {
  color: #f8f8f8;
  display: block;
  padding: 18px 20px;
  text-decoration: none;
}
#main-menu ul.submenu {
  position: absolute;
  background-color: #131921;
  padding: 15px 0;
  list-style: none;
  width: 200px;
  border: 1px solid #434343;
  display: none;
}
#main-menu li:hover>ul.submenu {
  display: block;
}
#main-menu ul.submenu a {
  padding: 13px 15px;
  border-bottom: 1px solid #434343;
  left: 0;
}
#main-menu ul.submenu li:hover>a {
  border-bottom: 1px solid #6e6e6e;
}
#main-menu ul.submenu li:last-child a {
  border: none;
}
#main-menu ul.submenu ul.submenu {
  left: 200px;
  top: 30px;
}

#main-menu>li>a {
  position: relative;
}
#main-menu>li>a::before {
  content:"";
  height: 4px;
  width: 0;
  background-color: #f00;
  position:absolute;
  bottom: 0;
  left: 0;
  transition: 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275)
}
#main-menu>li:hover>a::before {
  display: block;
  width: 100%;
}
#main-menu>li.has-child::after{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f107';

  color: #f5f5f5;
  position: absolute;
  top: 0;
  right: 0;
  padding: 18px 0;
}
#main-menu .submenu>li.has-child::after{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f105';

  color: #f5f5f5;
  position: absolute;
  top: 0;
  right: 10px;
  padding: 8px 0;

}
#main-menu .submenu li:hover>a {
  color: crimson;

}
#main-menu .submenu>li.has-child:hover::after {
  color: crimson;
}
/* END Header */
@media (max-width: 768px) {
  /* Ẩn toàn bộ menu khi ở mobile */
  #main-menu {
    display: none !important;
  }
#header {
  background-color: #f7f3f3;
}
  /* Canh giữa logo */
  .container {
    justify-content: center;
  }
}
/* ----------------------------------  */
.mobile-menu-toggle {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  left: 15px;
  top: 6px;
  z-index: 1001;
}
.mobile-menu-toggle span {
  width: 25px;
  height: 3px;
  background-color: #333;
  border-radius: 3px;
}
#mobile-menu {
  position: fixed;
  top: 50px;
  left: -100%;
  width: 38%;
  height: 100%;
  background-color: #FFF;
  z-index: 1000;
  padding: 30px 20px 20px;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
  transition: left 0.3s ease;
  display: flex;
  flex-direction: column;
}

#mobile-menu .login-button {
  margin-top: auto; /* Đẩy nút xuống cuối cùng */
  background-color: rgb(131, 125, 157, 1);
  border-radius: 5px 5px 5px 5px;
  margin-bottom: 35px;
  padding: 5px 0 5px 0;
  text-align: center;
}

#mobile-menu.show {
  left: 0;
  list-style: none;
}

#mobile-menu li {
  margin-bottom: 10px;
}
#mobile-menu li a {
  color: #030303;
}
@media (max-width: 768px) {
  .mobile-menu-toggle {
    display: flex;
  }

  #logo {
    margin: 0 auto;
    z-index: 1001;
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.3);
  z-index: 999;
}
/* ------------------------  */
nav .sign-button span {
  color: white;
  font-weight: bold;
  margin-right: 10px;
}

nav .login-button button {
  background-color: transparent;
  border: none;
  color: red;
  cursor: pointer;
}
/* Căn thẳng hàng cho phần tên + nút đăng xuất */
#main-menu .user-info {
  display: flex;
  align-items: center;
  gap: 10px;
  list-style: none;
  top: 10px;

}

#main-menu .user-name {
  font-weight: bold;
  color: #fff;
  margin-top: 20px;
  margin-left: 228px;
}

#main-menu .logout-button {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 14px;
  margin-left: 3px;
}

#main-menu .logout-button:hover {
  background-color: #c0392b;
}


